html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Assistant', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//--------------------------------------------------------------------------------------------------------------------------------

header {
    .header {
        background-color: #0d0d0d;
        padding: 10px 0px;
        .col-md-6 {
            .OpenTime {
                a,p {
                    color: #6a6a6a;
                    display: inline-block;
                }
                a {
                    i {
                        margin-right: 5px;
                    }
                    margin-right: 10px;
                    outline: none;
                    transition: all ease-in-out 0.2s;
                    text-decoration: none;
                    &:hover {
                        color: #bf9b5d;
                    }
                }
                p {

                }
            }
            .User {
                display: flex;
                justify-content: end;
                ul {
                    li {
                        float: left;
                        margin-right: 20px;
                        &:last-child {
                            margin-right: 0px !important;
                        }
                        a {
                            color: #6a6a6a;
                            outline: none;
                            text-decoration: none;
                            transition: all ease-in-out 0.2s;
                            i {
                                margin-right: 5px;
                            }
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

nav {
    .nav {
        background-image: url(../../images/Untitled-3.png);
        background-size: cover;
        background-position: 50%;
        height: 30vh;
        position: relative;
        z-index: 4;
        padding: 2rem 0px;
        .row {
            align-items: center;
            .col-md-2 {
                position: relative;
                .icon-bars{
                    i {
                        color: #6a6a6a;
                        font-size: 20px;
                        cursor: pointer;
                        &:hover {
                            color: #bf9b5d;
                        }
                    }
                }
                .icon-search-cart {
                    display: flex;
                    width: 100%;
                    .icon-serach,.icon-cart{
                        margin-right: 20px;
                        i {
                            cursor: pointer;
                            font-size: 20px;
                            color: #6a6a6a;
                            &:hover {
                                color: #bf9b5d;
                            }
                        }
                    }
                    .icon-cart {
                        margin-right: 0px !important;
                        a {
                            outline: none;
                            text-decoration: none;
                            span {
                                font-size: 13px;
                                margin-left: 5px;
                                background-color: #36373e;
                                color: #fff;
                                border-radius: 50%;
                                padding: 5px 10px;
                            }
                        }
                        &:hover {
                            .icon-cart,.icon-serach 
                            { 
                                i{
                                    color: #bf9b5d;
                                }
                            }
                            .Cart-Shop {
                                visibility: visible !important;
                                opacity: 1 !important;
                                transform: translateY(0px) !important;
                            }
                        }
                        .Cart-Shop {
                            position: absolute;
                            background-color: black;
                            padding: 2rem 20px;
                            width: 300px;
                            top: 28px;
                            right: 0px;
                            z-index: 999;
                            transform: translateY(20px);
                            visibility: hidden;
                            opacity: 0;
                            transition: all linear 200ms;
                            .top {
                                margin-bottom: 20px;
                                p {
                                    font-size: 25px;
                                    color: #6a6a6a;
                                    font-weight: bolder;
                                }
                            }
                            .no-products {
                                display: none;
                                p {
                                    color: #6a6a6a;;
                                }
                            }
                            .yes-products {
                                .item-product {
                                    margin-bottom: 15px;
                                    .delete-item {
                                        margin-bottom: 10px;
                                        text-align: right;
                                        a {
                                            outline: none;
                                            text-decoration: none;
                                            display: inline-block;
                                            i {
                                                color: #6a6a6a;
                                            }
                                            &:hover {
                                                i {
                                                    color: #bf9b5d;
                                                }
                                            }
                                        }
                                    }
                                    a {
                                        outline: none;
                                        display: block;
                                        text-decoration: none;
                                        .item {
                                            display: flex;
                                            .img-item {
                                                width: 30%;
                                                margin-right: 10px;
                                                img {
                                                    width: 100%;
                                                }
                                            }
                                            .name-item {
                                                width: 70%;
                                                .name {
                                                    margin-bottom: 5px;
                                                    color: #6a6a6a;
                                                    font-size: 17px;
                                                }
                                                .price {
                                                    display: inline-block;
                                                    color: #bf9b5d;
                                                    font-weight: bolder;
                                                }
                                                .number {
                                                    display: inline-block;
                                                    color: #6a6a6a;
                                                }
                                            }
                                        }
                                        &:hover {
                                            .name-item {
                                                .name {
                                                    color: #bf9b5d;
                                                }
                                            }
                                        }
                                    }
                                }
                                .total-product {
                                    display: flex;
                                    margin-bottom: 15px;
                                    .text-total,.price-total {
                                        width: 50%;
                                        p {
                                            font-size: 20px;
                                            color: #fff;
                                        }
                                    }
                                    .price-total {
                                        width: 50%;
                                        text-align: center;
                                        p {
                                            color: #bf9b5d;
                                            font-weight: bolder;
                                        }
                                    }
                                }
                                .check-product {
                                    text-align: center;
                                    .checkoutCart,.viewCart {
                                        border: 1px solid #bf9b5d;
                                        margin-bottom: 10px;
                                        transition: border ease-in-out 0.3s;
                                        a {
                                            padding: 15px;
                                            display: block;
                                            color: #bf9b5d;
                                            outline: none;
                                            font-weight: bolder;
                                            text-decoration: none;
                                            i {
                                                color: #bf9b5d;
                                                margin-right: 10px;
                                            }
                                        }
                                        &:hover {
                                            border: 1px solid black;
                                            background-color: #282828;
                                        }
                                    }
                                    .viewCart {
                                        margin-bottom: 0px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .col-md-8 {
                .logo {
                    text-align: center;
                }
            }
        }
        
    }
}

.mobile {
    display: none;
    .nav-mobile {
        background-image: url(../../images/Untitled-3.png);
        background-size: cover;
        background-position: 50%;
        height: 34vh;
        position: relative;
        z-index: 4;
        padding: 2rem 0px;
        .col-md-12 {
            .img-logo {
                text-align: center;
            }
        }
        .item-mobile {
            display: flex;
            width: 100%;
            margin-top: 20px;
            .icon-bars{
                width: 50%;
                i {
                    color: #6a6a6a;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover {
                        color: #bf9b5d;
                    }
                }
            }
            .icon-search-cart {
                display: flex;
                width: 50%;
                position: relative;
                justify-content: right;
                .icon-serach,.icon-cart{
                    margin-right: 20px;
                    i {
                        cursor: pointer;
                        font-size: 20px;
                        color: #6a6a6a;
                        &:hover {
                            color: #bf9b5d;
                        }
                    }
                }
                .icon-cart {
                    margin-right: 0px !important;
                    a {
                        outline: none;
                        text-decoration: none;
                        span {
                            font-size: 13px;
                            margin-left: 5px;
                            background-color: #36373e;
                            color: #fff;
                            border-radius: 50%;
                            padding: 5px 10px;
                        }
                    }
                    &:hover {
                        .icon-cart,.icon-serach 
                        { 
                            i{
                                color: #bf9b5d;
                            }
                        }
                        .Cart-Shop {
                            visibility: visible !important;
                            opacity: 1 !important;
                            transform: translateY(0px) !important;
                        }
                    }
                    .Cart-Shop {
                        position: absolute;
                        background-color: black;
                        padding: 2rem 20px;
                        width: 300px;
                        top: 28px;
                        right: 0px;
                        z-index: 999;
                        transform: translateY(20px);
                        visibility: hidden;
                        opacity: 0;
                        transition: all linear 200ms;
                        .top {
                            margin-bottom: 20px;
                            p {
                                font-size: 25px;
                                color: #6a6a6a;
                                font-weight: bolder;
                            }
                        }
                        .no-products {
                            display: none;
                            p {
                                color: #6a6a6a;;
                            }
                        }
                        .yes-products {
                            .item-product {
                                margin-bottom: 15px;
                                .delete-item {
                                    margin-bottom: 10px;
                                    text-align: right;
                                    a {
                                        outline: none;
                                        text-decoration: none;
                                        display: inline-block;
                                        i {
                                            color: #6a6a6a;
                                        }
                                        &:hover {
                                            i {
                                                color: #bf9b5d;
                                            }
                                        }
                                    }
                                }
                                a {
                                    outline: none;
                                    display: block;
                                    text-decoration: none;
                                    .item {
                                        display: flex;
                                        .img-item {
                                            width: 30%;
                                            margin-right: 10px;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        .name-item {
                                            width: 70%;
                                            .name {
                                                margin-bottom: 5px;
                                                color: #6a6a6a;
                                                font-size: 17px;
                                            }
                                            .price {
                                                display: inline-block;
                                                color: #bf9b5d;
                                                font-weight: bolder;
                                            }
                                            .number {
                                                display: inline-block;
                                                color: #6a6a6a;
                                            }
                                        }
                                    }
                                    &:hover {
                                        .name-item {
                                            .name {
                                                color: #bf9b5d;
                                            }
                                        }
                                    }
                                }
                            }
                            .total-product {
                                display: flex;
                                margin-bottom: 15px;
                                .text-total,.price-total {
                                    width: 50%;
                                    p {
                                        font-size: 20px;
                                        color: #fff;
                                    }
                                }
                                .price-total {
                                    width: 50%;
                                    text-align: center;
                                    p {
                                        color: #bf9b5d;
                                        font-weight: bolder;
                                    }
                                }
                            }
                            .check-product {
                                text-align: center;
                                .checkoutCart,.viewCart {
                                    border: 1px solid #bf9b5d;
                                    margin-bottom: 10px;
                                    transition: border ease-in-out 0.3s;
                                    a {
                                        padding: 15px;
                                        display: block;
                                        color: #bf9b5d;
                                        outline: none;
                                        font-weight: bolder;
                                        text-decoration: none;
                                        i {
                                            color: #bf9b5d;
                                            margin-right: 10px;
                                        }
                                    }
                                    &:hover {
                                        border: 1px solid black;
                                        background-color: #282828;
                                    }
                                }
                                .viewCart {
                                    margin-bottom: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.navJS-full {
    position: fixed;
    width: 400px;
    padding: 3rem;
    transition: all ease-in-out 0.3s;
    transform: translateX(-100%);
    left: 0px;
    z-index: 999;
    opacity: 1!important;
    overflow: hidden;
    top: 0px;
    background: black;
    bottom: 0px;
    .first-list-navJS {
        transition: all ease-in-out 0.3s;
        transform: translateX(0px);
        .button-close {
            text-align: right;
            i {
                font-size: 20px;
                color: #6a6a6a;
                cursor: pointer;
                &:hover {
                    color: #bf9b5d;
                }
            }
        }
        .navJS {
            ul {
                li {
                    margin-top: 1rem;
                    padding: 1rem 0px;
                    display: flex;
                    margin-bottom: 0.5rem;
                    a {
                        outline: none;
                        text-decoration: none;
                        color: #6a6a6a;
                        
                    }
                    .icon-right {
                        width: 100%;
                        text-align: right;
                        i {
                            font-size: 15px;
                            color: #6a6a6a;
                            cursor: pointer;
                        }
                    }
                    .active {
                        color: #bf9b5d;
                    }
                    &:hover {
                        a {
                            color: #bf9b5d;
                        }
                        .icon-right {
                            i {
                                color: #bf9b5d;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .later-list-navJS {
        position: absolute;
        /* width: 0px; */
        top: 50px;
        opacity: 0;
        right: 15%;
        transition: all ease-in-out 0.3s;
        transform: translateX(352px);
        z-index: 99;
        background-color: black;
        left: 15%;
        .top {
            display: flex;
            p {
                font-size: 20px;
                color: #36373e;
            }
            i {
                width: 100%;
                text-align: right;
                font-size: 18px;
                color: #6a6a6a;
                cursor: pointer;
                &:hover {
                    color: #bf9b5d;
                }
            }
        }
        ul {
            li {
                margin-top: 1rem;
                padding: 1rem 0px;
                margin-bottom: 0.5rem;
                a {
                    outline: none;
                    text-decoration: none;
                    color: #6a6a6a;
                }
                &:hover {
                    a {
                        color: #bf9b5d;
                    }
                }
            }
        }
    }
}

.background-full {
    position: absolute;
    left: 0px;
    width: 100%;
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    display: none;
    content: "";
    z-index: 10;
}

.formSearch {
    position: fixed;
    top: 0px;
    opacity: 0;
    width: 0px;
    z-index: 9;
    transition: opacity linear 200ms;
    overflow: hidden;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 100vh;
    background-color: black;
    .SearchJs-Full {
        padding: 30px;
        height: 100vh;
        .button-close-from {
            text-align: right;
            i {
                font-size: 25px;
                color: #6a6a6a;
                cursor: pointer;
                &:hover {
                    color: #bf9b5d;
                }
            }
        }
        .from-control {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            form {
                width: 100%;
                text-align: center;
                input {
                    border: none;
                    outline: none;
                    padding: 20px;
                    width: 90%;
                    background-color: #0d0d0d;
                    font-size: 20px;
                    color: #fff;
                    border-radius: 10px;
                }
                button {
                    border: none;
                    margin-left: -45px;
                    background-color: transparent;
                    i {
                        font-size: 25px;
                        color: #6a6a6a;
                        cursor: pointer;
                        &:hover {
                            color: #bf9b5d;
                        }
                    }
                }
            }
        }
    }
}

.slide {
    margin-top: -3rem;
    img {
        height: 100vh;
    }
    .prev {
        position: absolute;
        top: 50%;
        left: 15px;
        border-radius: 50%;
        outline: none;
        text-decoration: none;
        background-color: #6a6a6a;
        border: none;
        span {
            font-size: 20px;
            padding: 10px;
            color: #fff;
        }
    }
    .next {
        position: absolute;
        top: 50%;
        right: 15px;
        outline: none;
        text-decoration: none;
        background-color: #6a6a6a;
        border: none;
        border-radius: 50%;
        span {
            font-size: 20px;
            color: #fff;
            padding: 10px;
        }
    }
    .active {
        .contact-item {
            opacity: 1;
        }
    }
    .contact-item {
        color: #fff;
        position: absolute;
        top: 25%;
        transition: all ease-in-out 0.2s;
        left: 15%;
        opacity: 0;
        right: 15%;
        .top {
            text-align: center;
            margin-bottom: 25px;
            h1 {
                font-size: 70px;
                display: inline-block;
                position: relative;
                padding-bottom: 40px;
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../../images/slider-lines-2.webp);
                    height: 10px;
                    left: 20%;
                    bottom: 0px;
                    right: 20%;
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }
        }
        .center {
            text-align: center;
            margin-bottom: 50px;
            p {
                font-size: 20px;
                line-height: 1.5em;
            }
        }
        .bottom {
            text-align: center;
            p {
                font-size: 55px;
                line-height: 1.5em;
                padding-bottom: 2.5rem;
            }
            span {
                margin-top: 2.5rem;
                border: 3px solid #bf9b5d;
                color: #bf9b5d;
                font-size: 15px;
                font-weight: bolder;
                padding: 15px 55px;
                cursor: pointer;
                transition: all ease-in-out 0.2s;
                &:hover {
                    background-color: #bf9b5d;
                    color: #fff;
                }
            }
        }
    }
}

main {
    .main-1 {
        background-image: url(../../images/brands-bkg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        padding: 2rem 0px;
        .col-md-4 {
            .item-main-1,.item-main-2,.item-main-3 {
                display: flex;
                width: 100%;
                .item1 {
                    width: 50%;
                    img {
                        width: 100%
                    }
                }
                .item2 {
                    width: 50%;
                    img {
                        width: 100%
                    }
                }
            }
        }
    }
    .main-2 {
        .item-main-2 {
            display: flex;
            .item1-main-2,.item2-main-2 {
                position: relative;
                img {
                    width: 100%
                }
                &::after {
                    position: absolute;
                    content: "";
                    left: 20px;
                    right: 20px;
                    bottom: 30px;
                    top: 30px;
                    /* background: #fff; */
                    transition: all ease-in-out 0.3s;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: scale(0,1);
                }
                &::before {
                    position: absolute;
                    content: "";
                    left: 30px;
                    right: 30px;
                    bottom: 20px;
                    top: 20px;
                    /* background: #fff; */
                    transition: all ease-in-out 0.3s;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: scale(1,0);
                }
                &:hover {
                    &::after,&::before {
                        transform: scale(1)
                    }
                }
            }
        }
    }
    .main-3 {
        margin-top: -3px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-image: url(../../images/brands-bkg.webp);
        .col-md-12 {
            .name-main-3{
                text-align: center;
                h5 {
                    font-size: 40px;
                    color: #6a6a6a;
                    font-weight: bolder;
                    position: relative;
                    padding-bottom: 20px;
                    &::after {
                        background-image: url(../../images/slider-lines-2.webp);
                        position: absolute;
                        content: "";
                        width: 50%;
                        height: 10px;
                        left: 25%;
                        right: 25%;
                        // left: 0px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        bottom: 0px;
                    }
                }
            }
        }
        .item-row-1,.item-row-2 {
            margin-top: 4rem;
            .col-md-3 {
                .item1,.item2,.item3,.item4 {
                    margin-bottom: 20px;
                    &:hover {
                        .img {
                            .img1 {
                                opacity: 0 !important;
                                width: 0% !important;
                            }
                            .img2 {
                                opacity: 1 !important;
                                width: 100% !important;
                            }
                        }
                        .position-icon {
                            opacity: 1 !important;
                        }
                        .item1-bottom {
                            opacity: 1 !important;
                            transform: translateY(0px);
                            visibility: visible !important;
                        }

                    }
                    .item1-top {
                        background-color: #282828;
                        position: relative;
                        .SALE {
                            position: absolute;
                            display: inline-block;
                            padding: 5px;
                            left: 10px;
                            top: 10px;
                            background-color: #36373e;
                            span {
                                color: #fff;
                                font-size: 15px;
                                font-weight: 700;
                            }
                        }
                        a {
                            outline: none;
                            text-decoration: none;
                            .img {
                                padding: 2rem;
                                height: 342px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .img1,.img2 {
                                    transition: opacity linear 1000ms;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 1;
                                    overflow: hidden;
                                }
                                .img2 {
                                    width: 0%;
                                    opacity: 0;
                                }
                            }
                        }
                        .position-icon {
                            position: absolute;
                            opacity: 0;
                            overflow: hidden;
                            transition: all ease-in-out 0.3s;
                            right: 10px;
                            top: 10px;
                            width: 28px;
                            .balance1,.heart1,.search1,.balance2,.heart2,.search2,.balance3,.heart3,.search3,.balance4,.heart4,.search4 {
                                padding: 5px;
                                transition: all ease-in-out 0.3s;
                                margin-bottom: 10px;
                                i {
                                    color: #bf9b5d;
                                    cursor: pointer;
                                    font-size: 18px;
                                }
                            }
                            .balance5,.heart5,.search5,.balance6,.heart6,.search6,.balance7,.heart7,.search7,.balance8,.heart8,.search8 {
                                padding: 5px;
                                transition: all ease-in-out 0.3s;
                                margin-bottom: 10px;
                                i {
                                    color: #bf9b5d;
                                    cursor: pointer;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .item1-center {
                        margin-top: 1rem;
                        .name {
                            margin-bottom: 10px;
                            a {
                                outline: none;
                                text-decoration: none;
                                color: #6a6a6a;
                            }
                        }
                        .price-star {
                            margin-bottom: 5px;
                            display: flex;
                            p {
                                width: 50%;
                                color: #6a6a6a;
                            }
                            .star {
                                width: 50%;
                                text-align: right;
                                i {
                                    color: #bf9b5d;
                                    font-size: 10px;
                                }
                            }
                        }
                        
                    }
                    .item1-bottom {
                        margin-top: 1rem;
                        text-align: center;
                        background-color: #282828;
                        visibility: hidden;
                        transform: translateY(20px);
                        opacity: 0;
                        transition: all ease-in-out 0.3s;
                        display: block;
                        &:hover {
                            a {
                                border: 2px solid #252525 !important;
                            }
                        }  
                        a {
                            outline: none;
                            text-decoration: none;
                            border: 2px solid #bf9b5d;
                            border-radius: 5px;
                            color: #bf9b5d;
                            transition: border ease-in-out 0.2s;
                            display: block;
                            padding: 15px;
                            i {
                                margin-right: 5px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        .item-row-2 {
            margin-top: 0px !important;
        }
    }
    .main-4 {
        padding-top: 4rem;
        position: relative;
        padding-bottom: 4rem;
        background-image: url(../../images/blog-section.webp);
        background-size: cover;
        background-position: center;
        /* height: 100vh; */
        background-repeat: no-repeat;
        .col-md-12{
            .top {
                text-align: center;
                h5 {
                    font-size: 40px;
                    color: #6a6a6a;
                    font-weight: bolder;
                    position: relative;
                    padding-bottom: 20px;
                    &::after {
                        background-image: url(../../images/slider-lines-2.webp);
                        position: absolute;
                        content: "";
                        width: 50%;
                        height: 10px;
                        left: 25%;
                        right: 25%;
                        // left: 0px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        bottom: 0px;
                    }
                }
            }
        }
        .item-main-4{
            padding-bottom: 4rem;
            margin-top: 4rem;
            .col-md-4 {
                .item1,.item2,.item3 {
                    margin-bottom: 20px;
                    .top {
                        .img{
                            img {
                                width: 100%
                            }
                        }
                    }
                    .bottom {
                        margin-top: 2rem;
                        h5 {
                            font-size: 20px;
                            color: #fff;
                            display: inline-block;
                            margin-bottom: 10px;
                            transition:  all ease-in-out 0.3s;
                            &:hover {
                                color: #bf9b5d;
                            }
                        }
                        h6 {
                            color: #bf9b5d;
                            margin-bottom: 10px;
                            display: inline-block;
                            transition:  all ease-in-out 0.3s;
                            &:hover {
                                color: #fff;
                            }
                        }
                        p {
                            color: #6a6a6a;
                            line-height: 1.5em;
                        }
                    }
                }
            }
        }
    }
    .main-5 {
        margin-top: -8rem;
        padding-top: 8rem;
        padding-bottom: 4rem;
        background-position: 50%;
        background-image: url(../../images/header-bg.webp);
        .col-md-12 {
            .top {
                text-align: center;
                h5 {
                    font-size: 40px;
                    color: #6a6a6a;
                    font-weight: bolder;
                    position: relative;
                    padding-bottom: 20px;
                    &::after {
                        background-image: url(../../images/slider-lines-2.webp);
                        position: absolute;
                        content: "";
                        width: 50%;
                        height: 10px;
                        left: 25%;
                        right: 25%;
                        // left: 0px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        bottom: 0px;
                    }
                }
            }
        }
        .item {
            margin-top: 4rem;
            .col-md-3 {
                .item1,.item2,.item3,.item4 {
                    margin-bottom: 20px;
                    &:hover {
                        .img {
                            .img1 {
                                opacity: 0 !important;
                                width: 0% !important;
                            }
                            .img2 {
                                opacity: 1 !important;
                                width: 100% !important;
                            }
                        }
                        .position-icon {
                            opacity: 1 !important;
                        }
                        .item1-bottom {
                            opacity: 1 !important;
                            transform: translateY(0px);
                            visibility: visible !important;
                        }

                    }
                    .item1-top {
                        background-color: #282828;
                        position: relative;
                        .SALE {
                            position: absolute;
                            display: inline-block;
                            padding: 5px;
                            left: 10px;
                            top: 10px;
                            background-color: #36373e;
                            span {
                                color: #fff;
                                font-size: 15px;
                                font-weight: 700;
                            }
                        }
                        a {
                            outline: none;
                            text-decoration: none;
                            .img {
                                padding: 2rem;
                                height: 342px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .img1,.img2 {
                                    transition: opacity linear 1000ms;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 1;
                                    overflow: hidden;
                                }
                                .img2 {
                                    width: 0%;
                                    opacity: 0;
                                }
                            }
                        }
                        .position-icon {
                            position: absolute;
                            opacity: 0;
                            overflow: hidden;
                            transition: all ease-in-out 0.3s;
                            right: 10px;
                            top: 10px;
                            width: 28px;
                            .balance1,.heart1,.search1,.balance2,.heart2,.search2,.balance3,.heart3,.search3,.balance4,.heart4,.search4 {
                                padding: 5px;
                                transition: all ease-in-out 0.3s;
                                margin-bottom: 10px;
                                i {
                                    color: #bf9b5d;
                                    cursor: pointer;
                                    font-size: 18px;
                                }
                            }
                            .balance5,.heart5,.search5,.balance6,.heart6,.search6,.balance7,.heart7,.search7,.balance8,.heart8,.search8 {
                                padding: 5px;
                                transition: all ease-in-out 0.3s;
                                margin-bottom: 10px;
                                i {
                                    color: #bf9b5d;
                                    cursor: pointer;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .item1-center {
                        margin-top: 1rem;
                        .name {
                            margin-bottom: 10px;
                            a {
                                outline: none;
                                text-decoration: none;
                                color: #6a6a6a;
                            }
                        }
                        .price-star {
                            margin-bottom: 5px;
                            display: flex;
                            p {
                                width: 50%;
                                color: #6a6a6a;
                            }
                            .star {
                                width: 50%;
                                text-align: right;
                                i {
                                    color: #bf9b5d;
                                    font-size: 10px;
                                }
                            }
                        }
                        
                    }
                    .item1-bottom {
                        margin-top: 1rem;
                        text-align: center;
                        background-color: #282828;
                        visibility: hidden;
                        transform: translateY(20px);
                        opacity: 0;
                        transition: all ease-in-out 0.3s;
                        display: block;
                        &:hover {
                            a {
                                border: 2px solid #252525 !important;
                            }
                        }  
                        a {
                            outline: none;
                            text-decoration: none;
                            border: 2px solid #bf9b5d;
                            border-radius: 5px;
                            color: #bf9b5d;
                            transition: border ease-in-out 0.2s;
                            display: block;
                            padding: 15px;
                            i {
                                margin-right: 5px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-6 {
        padding-top: 4rem;
        padding-bottom: 4rem;
        background-image: url(../../images/blurbs-bg2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        .col-md-12 {
            .top {
                text-align: center;
                h5 {
                    font-size: 40px;
                    color: #6a6a6a;
                    font-weight: bolder;
                    position: relative;
                    padding-bottom: 20px;
                    &::after {
                        background-image: url(../../images/slider-lines-2.webp);
                        position: absolute;
                        content: "";
                        width: 50%;
                        height: 10px;
                        left: 25%;
                        right: 25%;
                        // left: 0px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        bottom: 0px;
                    }
                }
            }
        }
        .item {
            margin-top: 2rem;
            padding-bottom: 2rem;
            .col-md-4 {
                .item1,.item2,.item3 {
                    .top{
                        text-align: center;
                        i {
                            font-size: 25px;
                            color: #adadad;
                        }
                    }
                    .bottom {
                        margin-top: 10px;
                        h5 {
                            margin-bottom: 10px;
                            font-weight: bolder;
                            text-align: center;
                            color: #bf9b5d;
                        }
                        p {
                            color: #6a6a6a;
                            text-align: justify;
                            line-height: 1.5em;
                        }
                    }
                }
            }
        }
    }
    .main-7 {
        background-image: url(../../images/header-bg.webp);
        padding-top:4rem;
        padding-bottom: 4rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        .col-md-12 {
            .top {
                text-align: center;
                h5 {
                    font-size: 40px;
                    color: #6a6a6a;
                    font-weight: bolder;
                    position: relative;
                    padding-bottom: 20px;
                    &::after {
                        background-image: url(../../images/slider-lines-2.webp);
                        position: absolute;
                        content: "";
                        width: 50%;
                        height: 10px;
                        left: 25%;
                        right: 25%;
                        // left: 0px;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        bottom: 0px;
                    }
                }
            }
        }
        .full-item {
            overflow: hidden;
            padding-bottom: 3rem;
            .item {
                margin-top: 3rem;
                display: flex;
                overflow: hidden;
                width: 100%;
                .item1 {
                    margin-right: 20px;
                    .top {
                        background-image: url(../../images/testimonials.webp);
                        /* background-size: cover; */
                        background-position: 50%;
                        background-repeat: no-repeat;
                        /* padding: 0px 50px; */
                        text-align: justify;
                        height: 40vh;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            color: #6a6a6a; 
                            padding: 0px 50px;
                        }
                    }
                    .bottom {
                        display: flex;
                        align-items: center;
                        .img-people {
                            margin-right: 10px;
                            margin-left: 30px;
                            img {
                                border-radius: 50%;
                                width: 80px;
                            }
                        }
                        .name-people {
                            width: 65%;
                            .name {
                                p {
                                    color: #fff;
                                    line-height: 1.5em;
                                    font-size: 20px;
                                }   
                            }
                            .work {
                                p {
                                    color: #bf9b5d;
                                    line-height: 1.5em; 
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}

footer {
    .footer {
        background-image: url(../../images/Layer-8-copy-3.webp);
        margin-top: -3rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 8rem;
        padding-bottom: 8rem;
        .col-md-12 {
            .top {
                margin-bottom: 2rem;
                text-align: center;
            }
            .bottom {
                .list-item {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        li {
                            float: left;
                            margin-right: 30px;
                            &:last-child {
                                margin-right: 0px !important;
                            }
                            a {
                                outline: none;
                                font-size: 18px;
                                text-decoration: none;
                                color: #6a6a6a;
                                transition: all ease-in-out 0.2s;
                                &:hover {
                                    color: #bf9b5d;
                                }
                            }
                            .active {
                                color: #bf9b5d;
                            }
                        }
                    }
                }
            }
        }
    }
}

//font gg
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

.toggleNavJS-full {
    opacity: 1 !important;
    transform: translateX(0px);
}

.toggleNavJS-laster {
    transform: translateX(0px) !important;
    opacity: 1 !important;
}
.toggleNavJS-first {
    transform: translateX(-385px) !important;
}

.togglebodyOverflow {
    overflow: hidden;
}

.toggleFromSearchJS {
    opacity: 0.8 !important;
    width: 100% !important;
}

.toggleBackground {
    display: block !important;
}

.toggleIconPosition i::before {
    content: '\f00c' !important;
}

@import '_mobile'

//--------------------------------------------------------------------------------------------------------------------------------

